<!DOCTYPE html>
<html>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
  <body>
    {% for img in img_list %}
    <ul class="gallery_box">
        <li>
          <a href="{{ img.url }}"><img src="{{ img.image }}" style="width:300px;height:200px" target="_blank">
          <div class="box_data">
            <span> {{ img.title }} </span>
          </div></a>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
